/**************************TAG SELECTORS**************************/

head {

}

body {
  background-color: #222831;
  color: #dddddd;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
}

hr {
  border-style: dashed none none none;
  border-color: #30475e;
  border-width: 10px;
  height: 0;
  width: 10%;
}

h1 {
  font-family: 'RocknRoll One', sans-serif;
  color: #f05454;
}

h2 {
  font-family: 'Architects Daughter', cursive;
  color: #f05454;
}

img {
  border-color: #30475e;
  border-style: outset;
  border-width: thick;
  border-radius: 10px;
}
div {
  text-align: center;
  padding: 5px;
  border: 10px;

}

/**************************CLASS SELECTORS**************************/

.list {
  color: lightblue;
}
.lightblue {
  background-color: #30475e;

}
.darkblue {
  background-color: #222831;
}
.white {
  background-color: #dddddd;
  color: #30475e;
}
.middle_container {
  display: inline-block;

}

#top_bar {
  background-color: #30475e;
  position: fixed;
  height: 50px;
  width: 100%;

}
/**************************HOVER TAGS**************************/

img:hover {
  border-color: #f05454;
  border-style: inset;
}

a:hover {
  background-color: white;
}


/*
font-family: 'Architects Daughter', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'RocknRoll One', sans-serif;
font-family: 'Shadows Into Light', cursive;*/
